.header {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    z-index: 10;

    &__logo {
        width: 5rem;
    }

    &__menu {
        width: 2.5rem;
        padding: 0.5rem;
    }

}