$primary-color: #5e2129;
$secondary-color: #3d2413;
$third-color: #f7ae40;

$fontfamily-title: "Cinzel Decorative", serif;
$fontfamily-main: "Lexend", serif;
$fontfamily-subtitle: "Lavishly Yours", serif;