<footer class="footer">
    <div class="bloques">
      <img class="bloques__logo" src="./images/logo-blanco-sacristia.png" alt="Logo Sacristía"/>
      <ul class="bloques__contact">
        <li class="bloques__title">Contacto</li>
        <li class="bloques__list"><i class="fa-solid fa-location-dot" style="margin-right:10px;"></i>C/ Calvario, 16 - 41111 (Almensilla)</li>
        <li class="bloques__list"><i class="fa-solid fa-phone" style="margin-right:10px;"></i>Reservas: 605 292 729</li>
        <li class="bloques__list"><i class="fa-solid fa-phone" style="margin-right:10px;"></i>Pedidos: 640 884 522</li>
        <li class="bloques__list"><i class="fa-solid fa-at" style="margin-right:10px;"></i>bodegalasacristia@gmail.com</li>
      </ul>
      <ul class="media">
        <li class="media__item">
          <a href="https://www.facebook.com/LaSacristiaAlmensilla" target="_blank">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li class="media__item">
          <a href="https://www.instagram.com/bodegalasacristia/">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
      </ul>
      <ul class="cookies">
        <div class="cookies__links">
          <li class="cookies__list">Política de privacidad</li>
          <li class="cookies__list">Política de Cookies</li>
          <li class="cookies__list">Aviso legal</li>
          <li class="cookies__logo">
            <img src="./images/marta-ch-logo-blanco.png" alt="Logo MCH" />
          </li>
          <li class="cookies__copyright">@2025 BODEGA LA SACRISTIA - Diseño M.CH Marketing</li>
        </div>
      </ul>
  </div>
  </footer>