<header class="header js_header">
  <div class="header__box1">
    <a href="index.html"><img class="header__logo" src="./images/logo-blanco-sacristia.png" alt="Logo Sacristia"/></a>
  </div>
  <nav class="navbar">
    <div class="navbar__menu-container">
      <div class="navbar__hamburger-menu js_hamburgerMenu"> 
        <img class="navbar__icon" src="images/ico-menu.svg" alt="Menú"/>
      </div>
      <ul class="menu js_menu">
        <li class="js_menuClose">
          <button class="menu__close-btn">✕</button>
        </li>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="nosotros.html">Nosotros</a></li>
        <li><a href="menu.html">Menú</a></li>
        <li><a href="eventos.html">Eventos</a></li>
        <li><a href="ubicacion.html">Ubicación</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </div> 
  </nav>

  <script type="module" src="./js/main.js"></script>
</header>