<main>
  <section class="cover">
    <div class="principal">
      <h1 class="principal__title">Bodega</h1>
      <h1 class="principal__title2">La Sacristía</h1>
      <p class="principal__text">Donde el sabor y la tradición se dan la mano</p>
      <button class="principal__btn">NUESTRA CARTA</button>
    </div>
  </section>
  <section class="tradition">
    <h2 class="tradition__title">Tradición</h2>
    <h3 class="tradition__title2">
      y cocina
    </h3>
    <p class="tradition__text">Bodega fundada en los años 50 especializada en la elaboración de
      <strong>mosto casero</strong>. Situada en la localidad aljarafeña de Almensilla, la
      <strong>cocina española</strong>
      te sorprenderá con una gran oferta gastronómica y de vanguardia.</p>
    <button class="tradition__btn">Conócenos</button>
    <img src="./images/landing/tradition-vermouth.jpg" alt="Barriles de vino Sacristía" class="tradition__img">
  </section>
  <section class="plates">
    <h2 class="plates__title">Se te hará la</h2>
    <h3 class="plates__title2">boca vino</h3>
    <p class="plates__text">La cocina de la Sacristía se basa en una
      <strong>cocina española y andaluza</strong>
      que ofrece una gran variedad gastronómica de deliciosas comidas y bebidas. Conoce todos nuestros platos elaborados artesanalmente y con una materia prima de primera calidad.</p>
    <p class="plates__text">Además, contamos con toda nuestra carta en formato pedido
      <strong>para llevar o recoger.</strong></p>
    <button class="plates__btn">Consulta nuestras cartas</button>
    <img src="./images/landing/collage-tradition.png" alt="Imágenes de platos Sacristía" class="plates__img">
  </section>
  <section class="history">
    <h2 class="history__title">Nuestra</h2>
    <h3 class="history__title2">Bodega</h3>
    <p class="history__text">La Bodega La Sacristía es un pequeño restaurante de gran tradición culinaria localizado estratégicamente en
      <strong>Almensilla</strong>, uno de los pequeños pueblos señalados de la
      <strong>Ruta del Mosto</strong>, en la comarca del Aljarafe (Sevilla).</p>
    <p class="history__text">Esta bodega fue fundada en los años 50 y está especializada en la elaboración de mosto casero. En su historia ha sufrido numerosas idas y venidas, teniendo que cerrar a principios de los 2000 y celebrando su reapertura en 2005. A pesar de ello, La Sacristía se ha mantenido como un
      <strong>emblema aljarafeño</strong>
      todas estas décadas.</p>
    <img src="./images/landing/restaurante-sacristia.jpg" alt="Collage" class="plates__img">
  </section>
  <section class="events">
    <h2 class="events__title">Nuestros</h2>
    <h3 class="events__title2">Eventos</h3>
    <p class="events__text">En Bodega La Sacristía realizamos
      <strong>múltiples actividades culturales y de entretenimiento</strong>
      diferentes, así como diversos eventos privados. Descubre un
      <strong>espacio único en un entorno incomparable</strong>
      donde poder celebrar ese evento o reunión tan especial para ti y los tuyos.</p>
    <p class="events__text">Certámenes de poesía, conciertos, exposiciones de arte, eventos de divulgación científica, eventos empresariales... ¡Cuéntanos que
      <strong>nosotros lo hacemos realidad!</strong></p>
    <button class="events__btn">Celebra tu evento con nosotros</button>
    <img src="./images/landing/landing-events.jpg" alt="Collage" class="plates__img">
  </section>
</main>