<main>
  <section class="cover">
    <div class="principal">
      <h1 class="principal__title">Bodega</h1>
      <h1 class="principal__title2">La Sacristía</h1>
      <p class="principal__text">Donde el sabor y la tradición se dan la mano</p>
      <div class="links_cover">
        <a href="menu.html"><button class="links_cover__btn1">NUESTRA CARTA</button></a>
        <a href="contacto.html"><button class="links_cover__btn2">RESERVA MESA</button></a>
      </div>
    </div>
  </section>
  <section class="tradition" data-aos="fade-left">
    <div class="text-wrapper">
      <h2 class="tradition__title">Tradición</h2>
      <h3 class="tradition__title2">y Cocina</h3>
      <p class="tradition__text">Bodega fundada en los años 50 especializada en la elaboración de
        <strong>mosto casero</strong>. Situada en la localidad aljarafeña de Almensilla, la
        <strong>cocina española</strong>
        te sorprenderá con una gran oferta gastronómica y de vanguardia.</p>
      <a href="nosotros.html"><button class="tradition__btn">Conócenos</button></a>
    </div>
    <img src="./images/landing/tradition-vermouth.jpg" alt="Barriles de vino Sacristía" class="tradition__img" data-aos="fade-right">
  </section>
  <section class="plates" data-aos="fade-right">
    <div class="text-wrapper">
      <h2 class="plates__title">Se te hará la</h2>
      <h3 class="plates__title2">Boca vino</h3>
      <p class="plates__text">La cocina de la Sacristía se basa en una
        <strong>cocina española y andaluza</strong>
        que ofrece una gran variedad gastronómica de deliciosas comidas y bebidas. Conoce todos nuestros platos elaborados artesanalmente y con una materia prima de primera calidad.</p>
      <a href="https://www.numier.com/carta-digital/carta/bodegalasacristia/home"><button class="plates__btn">Consulta nuestras cartas</button></a>
    </div>
    <img src="./images/landing/plato-arroz.jpg" alt="Imágenes de platos Sacristía" class="plates__img" data-aos="fade-left">
  </section>
  <section class="history" data-aos="fade-left">
    <div class="text-wrapper">
      <h2 class="history__title">Nuestra</h2>
      <h3 class="history__title2">Bodega</h3>
      <p class="history__text">La Bodega La Sacristía es un pequeño restaurante de gran tradición culinaria localizado estratégicamente en
        <strong>Almensilla</strong>, uno de los pequeños pueblos señalados de la
        <strong>Ruta del Mosto</strong>, en la comarca del Aljarafe (Sevilla).</p>
      <a href="ubicacion.html"><button class="history__btn">Visítanos</button></a>
    </div>
    <img src="./images/cover-landing.jpg" alt="Collage" class="plates__img" data-aos="fade-right">
  </section>
  <section class="takeaway" data-aos="fade-right">
    <div class="text-wrapper">
      <h2 class="takeaway__title">También</h2>
      <h3 class="takeaway__title2">Para llevar</h3>
      <p class="takeaway__text">En Bodega La Sacristía te ofrecemos la posibilidad de
        <strong>disfrutar de nuestra cocina en casa</strong>.
        Además de nuestra carta habitual, contamos con una
        <strong>selección exclusiva de platos solo para llevar</strong>.
        Lleva contigo el sabor de nuestra cocina donde tú elijas.</p>
      <a href="menu.html "><button class="takeaway__btn">Haz tu pedido</button></a>
    </div>
    <img src="./images/landing/takeaway-tortilla.png" alt="Collage" class="plates__img" data-aos="fade-left">
  </section>
  <section class="events" data-aos="fade-left">
    <div class="text-wrapper">
      <h2 class="events__title">Nuestros</h2>
      <h3 class="events__title2">Eventos</h3>
      <p class="events__text">En Bodega La Sacristía realizamos
        <strong>múltiples actividades culturales y de entretenimiento</strong>
        diferentes, así como diversos eventos privados. Descubre un
        <strong>espacio único en un entorno incomparable</strong>
        donde poder celebrar ese evento o reunión tan especial para ti y los tuyos.</p>
      <a href="eventos.html "><button class="events__btn">Celebra tu evento con nosotros</button></a>
    </div>
    <img src="./images/landing/landing-events.jpg" alt="Collage" class="plates__img" data-aos="fade-left">
  </section>
</main>