.head4 {
  position: relative;
  width: 100%;
  min-height: 40svh;
  background-image: url("../images/eventos/head4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  margin-bottom: 2rem;

  @media (min-width: 768px) {
    min-height: 40svh;
  }

  @media (min-width: 1200px) {
    min-height: 45svh;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, #000000 100%);
    z-index: 1;
  }

  &__principal2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 2;

    @media (min-width: 768px) {
      margin-top: 0.5rem;
    }

    @media (min-width: 1200px) {
      margin-top: 0;
    }
  }
}

.eventos {
  background-color: $background-black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 3rem;

  &__title {
    font-family: $fontfamily-subtitle;
    font-weight: 600;
    font-size: 2.2rem;
    color: $third-color;

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }

    @media (min-width: 1200px) {
      width: 90%;
    }
  }

  &__title2 {
    font-family: $fontfamily-title;
    font-weight: 600;
    font-size: 2.3rem;
    margin-top: -0.5rem;
    line-height: 1;
    color: white;

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }

    @media (min-width: 1200px) {
      font-size: 2.8rem;
      margin-bottom: 1.8rem;
    }
  }

  &__text {
    font-family: $fontfamily-main;
    font-weight: 200;
    color: white;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1.5rem;
  }

  &__img {
    height: auto;
    margin-top: 2rem;
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
    }

    @media (min-width: 1200px) {
      width: 35%;
    }
  }

  &__btn {
    font-family: $fontfamily-main;
    font-weight: 300;
    font-size: 1rem;
    padding: 0.5rem;
    border: solid 1px $third-color;
    background-color: transparent;
    color: $third-color;
    border-radius: 1.5rem;
    margin-top: 1.5rem;

    &:hover {
      background-color: $third-color;
      color: $background-black;
      transform: scale(1.05);
      box-shadow: 0 0.5px 20px #565656;
    }

    @media (min-width: 768px) {
      font-size: 1rem;
      padding: 0.8rem;
      border-radius: 2rem;
      margin-block: 1.5rem;
    }

    @media (min-width: 1200px) {
      font-size: 1.3rem;
    }
  }
}

.contact {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: $third-color;
  margin-inline: 6%;
  border-radius: 15px;
  margin-bottom: 2rem;

  &__title {
    font-family: $fontfamily-main;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.3rem;
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    font-family: $fontfamily-main;

    i {
      margin-right: 10px;
      font-size: 1rem;
    }

    p {
      margin: 0;
      font-size: 1.1rem;
    }
  }
}
