.head1 {
  width: 100%;
  height: 30vh;
  background-image: url("../images/our-history/head1.png"),
    linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content01, .content02, .content03, .content04 {
  background-color: $background-black;
  margin: auto;
  padding: 2rem;
  font-size: 1rem;
  line-height: 1.6;

  &__title {
    font-family: $fontfamily-subtitle;
    font-weight: 600;
    font-size: 2.5rem;
    color: $third-color;
  }

  &__title2 {
    font-family: $fontfamily-title;
    font-weight: 600;
    font-size: 2.3rem;
    margin-top: -0.5rem;
    line-height: 1;
    color: white;
  }

  &__text {
    font-family: $fontfamily-main;
    font-weight: 200;
    color: white;
    margin-block: 1rem;
  }

  &__img {
    height: 100%;
    margin-top: 2rem;
    width: 100%;
  }
}
